## Supervised Machine Learning - Support Vector Machines (Galaxies vs. QSO)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

import sqlite3

In [2]:
# Create db connection to sqlite3 and cursor to execute queries

conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM quasars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78401,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
78402,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
78403,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
78404,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
78405,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
8.223839e+18,24.04974,24.32790,21.07046,19.96828,19.32451,GALAXY,0.603021,3,3,2,2,3
5.026068e+18,24.44635,21.25769,20.00311,19.16484,19.00644,GALAXY,0.147135,3,3,2,2,3
8.332493e+17,18.63577,17.22909,16.56552,16.20780,15.94192,GALAXY,0.079439,3,3,2,1,3
6.640758e+18,26.75599,21.27614,19.60034,18.67539,18.26084,GALAXY,0.467576,3,3,2,2,3
7.334354e+18,25.77205,21.62917,20.93701,20.67408,20.69857,QSO,3.359771,3,3,2,2,3
6.511299e+18,24.17061,22.57693,20.77272,19.76397,19.51136,QSO,0.500662,3,3,2,2,3
1.853360e+18,19.60267,19.17752,18.79896,18.62088,18.29497,QSO,0.385904,3,3,2,2,3
5.290727e+18,21.62389,20.30591,20.16343,20.13544,20.02467,QSO,2.734643,3,3,2,2,3
7.649577e+18,22.43077,21.98450,22.09774,22.19243,21.18254,QSO,2.463137,3,3,2,2,3
9.570195e+18,24.21892,21.59624,20.30830,19.87722,19.30787,QSO,0.281408,3,3,2,2,3
6.892949e+18,26.40429,21.32754,19.29281,18.55412,18.12891,GALAXY,0.365944,3,3,2,2,3
3.772661e+17,19.68534,17.67022,16.68054,16.17294,15.76338,GALAXY,0.080597,3,3,2,1,3
2.420770e+18,19.41925,19.24987,18.80976,18.61798,18.23142,QSO,0.340362,3,3,2,2,3
5.216317e+18,26.23448,22.06334,20.24334,19.27299,18.65405,GALAXY,0.554880,3,3,2,2,3
5.221952e+18,25.09569,21.62751,19.93124,19.13092,18.60333,GALAXY,0.379108,3,3,2,2,3
9.569176e+18,21.91104,21.29960,21.12163,20.86995,20.82572,QSO,2.016688,3,3,2,2,3
8.618916e+18,18.45838,18.12153,18.02078,17.80532,17.81466,QSO,1.599306,3,3,2,2,3
2.390294e+18,19.00693,18.96010,18.97139,18.76473,18.80992,QSO,1.699941,3,3,2,2,3
1.039340e+19,26.03377,23.50313,23.19067,22.14902,22.01998,GALAXY,0.000000,3,3,3,2,3
2.936436e+18,19.10690,18.04500,17.63026,17.36608,17.21332,GALAXY,0.067584,3,3,2,2,3
7.913081e+18,22.54150,21.67083,21.51542,21.30812,20.81499,QSO,0.746469,3,3,2,2,3
2.519801e+18,19.33152,17.68476,17.34020,17.20487,17.17688,QSO,3.132181,3,3,2,2,3
5.579033e+18,23.12393,22.60334,21.20797,19.96433,19.53122,GALAXY,0.591743,3,3,2,2,3
8.038059e+18,23.72127,23.34919,21.31419,20.16264,19.47264,GALAXY,0.582807,3,3,2,2,3
5.193976e+18,24.19470,21.90893,20.03188,19.23094,18.87656,GALAXY,0.425588,3,3,2,2,3
6.858144e+17,22.44748,19.90098,18.30036,17.66857,17.31036,GALAXY,0.289758,3,3,2,2,3
4.465530e+18,23.60380,20.47337,18.82040,18.18907,17.68594,GALAXY,0.367882,3,3,2,2,3
5.901351e+17,21.96944,21.51316,21.14916,20.36561,19.94857,QSO,0.588304,3,3,2,2,3
4.896704e+18,23.33900,21.57474,20.09624,19.34285,18.89136,GALAXY,0.445576,3,3,2,2,3
1.058015e+19,22.78322,22.55756,21.73200,21.23763,20.86300,GALAXY,0.750130,3,3,2,2,3

### Test and Train Data

In [9]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)

(78406, 11)
(78406,)

In [10]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
Counter(y_train)

Counter({'QSO': 14221, 'GALAXY': 44583})

### Random Oversampling

In [11]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'QSO': 44583, 'GALAXY': 44583})

### Support Vector Machine (Galaxies vs. QSO) - Oversampling

In [12]:
# Train the Support Vector Machine Model using the resampled data
model = SVC(kernel='linear')
model.fit(X_resampled, y_resampled)

SVC(kernel='linear')

In [13]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9433580927656806

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.96      0.92      0.97      0.94      0.89     14862
        QSO       0.89      0.92      0.96      0.91      0.94      0.89      4740

avg / total       0.95      0.95      0.93      0.95      0.94      0.89     19602

In [15]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO"], columns=["Predicted - Galaxy", "Predicted - QSO"])
cmros

                 Predicted - Galaxy  Predicted - QSO
Actual - Galaxy               14304              558
Actual - QSO                    359             4381

### Random Undersampling

In [16]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 14221, 'QSO': 14221})

### Support Vector Machine (Galaxies vs. QSO) - Undersampling

In [17]:
model2 = SVC(kernel='linear')
model2.fit(X_resampled1, y_resampled1)

SVC(kernel='linear')

In [18]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9434744373979004

In [19]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.96      0.92      0.97      0.94      0.89     14862
        QSO       0.89      0.92      0.96      0.91      0.94      0.89      4740

avg / total       0.95      0.95      0.93      0.95      0.94      0.89     19602

In [20]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO"], columns=["Predicted - Galaxy", "Predicted - QSO"])
cmrus

                 Predicted - Galaxy  Predicted - QSO
Actual - Galaxy               14320              542
Actual - QSO                    363             4377

In [21]:
# Write new df to new SQLite table -
new_data_df.to_sql("gq_svm", conn, if_exists="replace")
conn.close()

In [22]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [24]:
# Create table with results in postgres 

new_data_df.to_sql("gq_svm", engine, if_exists="replace")