## Supervised Machine Learning - Random Forest Classifier Algoritm (Galaxies vs. Stars)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

import sqlite3

In [2]:
# Create db connection to sqlite3 and cursor to execute queries
conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM stars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81034,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
81035,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
81036,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
81037,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
81038,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
# bin by quartile

frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
6.425688e+18,22.31636,21.65138,20.67436,19.85838,19.48593,GALAXY,0.584011,3,3,2,2,3
1.243558e+19,26.10862,23.29613,22.23044,20.86902,19.76596,GALAXY,0.733222,3,3,2,2,3
1.560523e+18,20.19434,18.42347,17.59493,17.14779,16.83625,GALAXY,0.079636,3,3,2,2,3
1.926586e+18,19.45017,18.16951,17.63308,17.30455,17.09824,GALAXY,0.053368,3,3,2,2,3
8.663906e+18,26.97862,22.07197,21.52746,20.47469,19.54811,GALAXY,0.782133,3,3,2,2,3
1.209807e+19,23.83601,23.43474,21.49742,20.42867,19.76608,GALAXY,0.680923,3,3,2,2,3
3.020934e+18,18.33875,17.26143,16.94739,16.84327,16.81227,STAR,-0.000134,3,3,2,1,3
2.654889e+18,17.70187,16.77681,16.45194,16.26192,16.12735,GALAXY,0.031755,3,3,2,1,3
4.546581e+18,22.80908,21.71963,20.13168,19.14241,18.68586,GALAXY,0.550868,3,3,2,2,3
2.182053e+18,20.01266,18.27044,17.31901,16.93191,16.61633,GALAXY,0.101690,3,3,2,1,3
3.286666e+18,19.82994,18.41512,17.86329,17.67027,17.64366,STAR,-0.000142,3,3,2,2,3
3.101912e+18,18.67357,17.39261,16.82245,16.40601,16.15519,GALAXY,0.065850,3,3,2,1,3
1.127109e+18,16.05314,15.41153,15.28570,15.28621,15.40065,GALAXY,0.020417,3,3,1,1,3
2.161878e+18,17.61913,16.55644,16.24101,15.98158,15.80929,GALAXY,0.044831,3,3,2,1,3
1.630428e+18,19.76308,17.85127,16.93146,16.51611,16.20519,GALAXY,0.086642,3,3,2,1,3
8.175207e+17,18.38627,16.58743,15.93923,15.57184,15.30392,GALAXY,0.084994,3,3,1,1,3
9.263954e+18,24.33198,22.79774,21.66164,20.63643,19.94982,GALAXY,0.890202,3,3,2,2,3
2.364494e+18,19.70385,18.38925,17.82333,17.52027,17.28698,GALAXY,0.028906,3,3,2,2,3
7.534775e+18,22.68562,21.49529,20.23036,19.31338,18.85115,GALAXY,0.554925,3,3,2,2,3
8.702236e+18,25.36035,23.82320,21.66179,20.57497,19.82274,GALAXY,0.728771,3,3,2,2,3
2.841946e+18,19.28837,17.37595,16.44067,16.02899,15.69419,GALAXY,0.097512,3,3,2,1,3
1.155638e+19,23.47218,25.00239,21.81045,20.42651,19.74099,GALAXY,0.756129,3,3,2,2,3
6.930086e+18,20.83956,20.39053,19.91084,20.10998,19.59781,GALAXY,0.300232,3,3,2,2,3
8.317184e+18,23.97712,23.45536,21.18494,20.05215,19.32052,GALAXY,0.534150,3,3,2,2,3
8.828203e+18,23.38365,21.12021,19.86789,19.35277,19.11445,GALAXY,0.194402,3,3,2,2,3
3.649068e+18,23.02696,20.69342,19.09265,17.93622,17.26457,STAR,0.000234,3,3,2,2,3
4.441947e+18,24.97631,21.73785,20.02053,19.00978,18.60550,GALAXY,0.521650,3,3,2,2,3
5.061029e+18,25.86789,22.41307,20.73571,19.74916,19.34292,GALAXY,0.595415,3,3,2,2,3
7.839675e+18,21.85990,21.39388,20.09283,19.34710,18.87026,GALAXY,0.473597,3,3,2,2,3
8.742826e+18,22.06586,20.52057,20.01528,19.86966,19.85381,STAR,-0.000296,3,3,2,2,3

In [9]:
new_data_df.iloc[new_data_df.values==np.inf]
new_data_df =new_data_df[~new_data_df.isin([np.nan, np.inf, -np.inf]).any(1)]

### Test and Train Data

In [10]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

Counter(y)

Counter({'GALAXY': 59445, 'STAR': 21594})

In [11]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,stratify=y)
Counter(y_train)

Counter({'GALAXY': 44584, 'STAR': 16195})

### Random Oversampling

In [12]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44584, 'STAR': 44584})

### Random Forest Classifier Algorithm (Galaxies and Stars) - Oversampling

In [13]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled, y_resampled)

RandomForestClassifier()

In [14]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9989400076194119

In [15]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      1.00      1.00      1.00      1.00      1.00     14861
       STAR       1.00      1.00      1.00      1.00      1.00      1.00      5399

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     20260

In [16]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy","Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14835                26
Actual - Star                     2              5397

### Random Undersampling

In [17]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 16195, 'STAR': 16195})

### Random Forest Classifier Algorithm (Galaxies and Stars) - Undersampling

In [18]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled1, y_resampled1)

RandomForestClassifier()

In [19]:
# Calculated the balanced accuracy score
y_pred2 = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred2)

0.997997944501183

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred2))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      1.00      1.00      1.00      1.00      1.00     14861
       STAR       0.99      1.00      1.00      0.99      1.00      1.00      5399

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     20260

In [21]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred2)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy","Actual - Star"], columns=["Predicted - Galaxy","Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14807                54
Actual - Star                     2              5397

In [22]:
# Write new df to new SQLite table -
new_data_df.to_sql("gs_rf", conn, if_exists="replace")
conn.close()

In [23]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [24]:
# Create table with results in postgres 

new_data_df.to_sql("gs_rf", engine, if_exists="replace")