## Supervised Machine Learning - Random Forest Classifier Algoritm (Galaxies vs. QSO)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

import sqlite3

In [2]:
# Create db connection to sqlite3 and cursor to execute queries

conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM quasars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78401,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
78402,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
78403,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
78404,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
78405,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
# bin by quartile

frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
8.645789e+18,23.35498,25.31055,22.31780,21.14294,19.97848,QSO,0.714657,3,3,2,2,3
4.851566e+18,19.05179,17.05113,16.11897,15.64052,15.28050,GALAXY,0.067876,3,3,2,1,3
4.662600e+17,20.58046,19.06913,18.15445,17.66112,17.39212,GALAXY,0.150890,3,3,2,2,3
1.200561e+19,23.03300,21.51946,20.00327,19.42559,19.09197,GALAXY,0.350666,3,3,2,2,3
8.050363e+18,22.45361,21.99236,21.13440,20.11978,19.85027,GALAXY,0.614559,3,3,2,2,3
6.983059e+18,21.53821,21.62276,20.34407,19.40125,19.04971,GALAXY,0.522416,3,3,2,2,3
7.065189e+18,22.09113,21.75521,20.46079,19.58836,19.11279,QSO,0.548024,3,3,2,2,3
4.896590e+18,21.86231,19.58372,18.11953,17.49679,17.02318,GALAXY,0.218838,3,3,2,2,3
8.046854e+18,23.20160,21.71851,20.50645,19.75126,19.40438,GALAXY,0.537317,3,3,2,2,3
5.342537e+18,21.16319,20.60349,20.54714,20.61170,20.28012,QSO,2.393089,3,3,2,2,3
6.486066e+17,21.63657,19.49936,17.94680,17.41274,17.02932,GALAXY,0.285352,3,3,2,2,3
8.892480e+18,21.10776,20.97451,20.91590,20.62912,20.35796,QSO,1.959809,3,3,2,2,3
1.008268e+19,22.88700,22.78930,22.45761,21.41558,21.02457,GALAXY,0.821655,3,3,2,2,3
7.461482e+18,24.99753,22.20735,20.51390,19.59202,19.34226,GALAXY,0.530266,3,3,2,2,3
9.121378e+17,22.82593,20.42636,19.11169,18.51387,18.04867,GALAXY,0.173298,3,3,2,2,3
9.565701e+18,21.34748,21.08198,21.25321,21.67560,22.28579,GALAXY,0.070885,3,3,2,2,3
1.111437e+18,20.82334,18.84813,17.68618,17.21112,16.86217,GALAXY,0.165947,3,3,2,2,3
1.857809e+18,19.61590,17.94291,17.09418,16.62141,16.26891,GALAXY,0.133481,3,3,2,1,3
9.490399e+18,25.00010,24.71972,22.34801,20.81903,19.84421,GALAXY,0.686033,3,3,2,2,3
5.637527e+18,22.42596,21.30429,19.46659,18.68751,18.30217,GALAXY,0.434901,3,3,2,2,3
1.079308e+19,22.62499,22.58026,21.82083,21.39799,21.07845,GALAXY,0.680371,3,3,2,2,3
5.253511e+18,23.99838,21.63609,20.10686,19.30606,18.84176,GALAXY,0.438243,3,3,2,2,3
2.170907e+18,19.93888,18.37382,17.50325,17.11907,16.77543,GALAXY,0.111479,3,3,2,2,3
7.045886e+18,22.75599,21.48290,21.09757,20.89172,20.72963,GALAXY,0.000000,3,3,2,2,3
8.368999e+18,21.82877,21.44050,21.01505,20.64944,20.36919,QSO,1.935922,3,3,2,2,3
1.281067e+19,26.62733,23.45725,21.19627,20.08647,19.09398,GALAXY,0.809114,3,3,2,2,3
6.992886e+17,19.30883,17.86596,17.09245,16.69562,16.39665,GALAXY,0.139900,3,3,2,1,3
8.164520e+17,19.24501,17.44403,16.60592,16.16807,15.87124,GALAXY,0.081070,3,3,2,1,3
5.706201e+18,22.28395,22.78027,20.73648,19.57261,19.11137,GALAXY,0.575433,3,3,2,2,3
6.428920e+18,23.92107,21.20362,19.38021,18.76365,18.41862,GALAXY,0.356985,3,3,2,2,3

In [9]:
new_data_df.iloc[new_data_df.values==np.inf]
new_data_df =new_data_df[~new_data_df.isin([np.nan, np.inf, -np.inf]).any(1)]

### Test and Train Data

In [10]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

Counter(y)

Counter({'GALAXY': 59445, 'QSO': 18961})

In [11]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,stratify=y)
Counter(y_train)

Counter({'QSO': 14221, 'GALAXY': 44583})

### Random Oversampling

In [12]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'QSO': 44583, 'GALAXY': 44583})

### Random Forest Classifier Algorithm (Galaxies vs. QSO) - Oversampling

In [13]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled, y_resampled)

RandomForestClassifier()

In [14]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9616395309420509

In [15]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.99      0.94      0.98      0.96      0.93     14862
        QSO       0.96      0.94      0.99      0.95      0.96      0.92      4740

avg / total       0.97      0.97      0.95      0.97      0.96      0.93     19602

In [16]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy","Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14653               209
Actual - Star                   297              4443

### Random Undersampling

In [17]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 14221, 'QSO': 14221})

### Random Forest Classifier Algorithm (Galaxies vs. QSO) - Undersampling

In [18]:
# Train the Random Forest Classifier Model using the resampled data
model = RandomForestClassifier(n_estimators=100)
model.fit(X_resampled1, y_resampled1)

RandomForestClassifier()

In [19]:
# Calculated the balanced accuracy score
y_pred2 = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred2)

0.9628959422467289

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred2))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.97      0.95      0.98      0.96      0.93     14862
        QSO       0.92      0.95      0.97      0.94      0.96      0.93      4740

avg / total       0.97      0.97      0.96      0.97      0.96      0.93     19602

In [22]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred2)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy","Actual - Star"], columns=["Predicted - Galaxy","Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14474               388
Actual - Star                   228              4512

In [23]:
# Write new df to new SQLite table -
new_data_df.to_sql("gq_rf", conn, if_exists="replace")
conn.close()

In [24]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [25]:
# Create table with results in postgres 

new_data_df.to_sql("gq_rf", engine, if_exists="replace")