## Supervised Machine Learning - Logistic Regression Algoritm (Galaxies vs. Star)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
import sqlite3

# Create db connection to sqlite3 and cursor to execute queries
conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM stars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81034,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
81035,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
81036,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
81037,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
81038,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
4.098820e+17,20.56195,18.86612,17.54727,16.95662,16.50918,GALAXY,0.216654,3,3,2,1,3
1.255534e+18,20.79225,20.24063,20.26446,20.35425,20.52237,STAR,0.000486,3,3,2,2,3
6.898609e+18,22.11842,20.24489,18.36732,17.65178,17.21859,GALAXY,0.384242,3,3,2,2,3
8.007571e+18,23.24949,22.06350,20.36965,19.32591,18.82128,GALAXY,0.524986,3,3,2,2,3
4.475568e+18,24.81017,22.92973,20.89277,19.86456,19.39795,GALAXY,0.531521,3,3,2,2,3
1.691167e+18,20.87247,18.31013,16.95814,16.36710,16.05546,STAR,-0.000065,3,3,2,1,3
6.009159e+18,23.37222,21.72102,20.03285,19.05056,18.51480,GALAXY,0.590017,3,3,2,2,3
3.346333e+18,21.30858,18.87055,17.66615,17.20371,16.85124,GALAXY,0.188374,3,3,2,2,3
6.930127e+18,23.92736,20.36396,18.63706,17.96970,17.53775,GALAXY,0.325298,3,3,2,2,3
6.604632e+18,22.81476,21.51990,20.06924,19.30554,18.96981,GALAXY,0.453006,3,3,2,2,3
7.860148e+18,25.51359,22.10713,20.59680,19.64761,19.33613,GALAXY,0.499404,3,3,2,2,3
4.353891e+18,26.28294,21.91387,20.23613,19.43955,18.99053,GALAXY,0.478046,3,3,2,2,3
2.753985e+18,18.18801,17.06047,16.66523,16.51495,16.46437,STAR,-0.000150,3,3,2,1,3
5.013876e+18,25.48022,21.90218,20.18195,19.22151,18.73229,GALAXY,0.515898,3,3,2,2,3
2.510893e+18,19.67995,18.26357,17.61219,17.15933,16.92519,GALAXY,0.108237,3,3,2,2,3
7.500768e+18,23.33955,21.29442,19.42312,18.66451,18.34930,GALAXY,0.459557,3,3,2,2,3
2.876699e+18,18.87935,16.35947,15.11762,14.54097,14.17659,GALAXY,0.000000,3,3,1,1,3
1.078176e+19,22.68722,22.88277,22.43254,23.77195,22.05976,GALAXY,0.352787,3,3,2,2,3
8.019981e+18,20.95234,20.12196,19.73517,19.11999,18.96288,GALAXY,0.153489,3,3,2,2,3
5.062216e+18,25.42103,21.72348,21.18288,21.02752,21.15675,STAR,0.000322,3,3,2,2,3
9.566837e+18,23.08597,22.16279,21.33343,20.24800,19.56860,GALAXY,0.658065,3,3,2,2,3
6.713923e+18,23.68460,22.33370,20.62206,19.63256,19.21220,GALAXY,0.507186,3,3,2,2,3
2.389229e+18,17.34049,15.67807,14.65463,14.25068,13.96703,GALAXY,0.062526,3,3,1,1,3
3.286616e+18,19.64734,18.66161,18.56610,18.55305,18.51883,STAR,-0.000770,3,3,2,2,3
4.896615e+18,22.91525,20.74626,19.10117,18.17403,17.62896,GALAXY,0.490428,3,3,2,2,3
3.342822e+18,25.04865,21.60346,20.52605,20.16775,20.26357,STAR,-0.000106,3,3,2,2,3
1.247274e+19,23.58661,22.97381,21.30120,19.31448,18.27965,STAR,0.000027,3,3,2,2,3
6.806125e+18,22.19049,19.84893,18.31069,17.74755,17.38559,GALAXY,0.277716,3,3,2,2,3
7.451471e+18,22.04508,22.46159,20.69919,19.29484,18.67621,GALAXY,0.743374,3,3,2,2,3
4.482323e+18,21.92926,21.45389,21.28240,21.27910,21.46540,STAR,-0.000276,3,3,2,2,3

### Test and Train Data

In [9]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)

(81039, 11)
(81039,)

In [10]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'GALAXY': 44520, 'STAR': 16259})

### Random Oversampling

In [11]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44520, 'STAR': 44520})

### Logistic Regression (Galaxies vs. QSO) - Oversampling

In [12]:
# Train the Logestic Regression Model using the resampled data
model = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [13]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9957856762726471

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.99      1.00      1.00      1.00      0.99     14925
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5335

avg / total       0.99      0.99      1.00      0.99      1.00      0.99     20260

In [15]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14802               123
Actual - Star                     1              5334

### Random Undersampling

In [16]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 16259, 'STAR': 16259})

### Logistic Regression (Galaxies vs. QSO) - Undersampling

In [17]:
model2 = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model2.fit(X_resampled1, y_resampled1)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [18]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9959128978224456

In [19]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       1.00      0.99      1.00      1.00      1.00      0.99     14925
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5335

avg / total       0.99      0.99      1.00      0.99      1.00      0.99     20260

In [20]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - Star
Actual - Galaxy               14803               122
Actual - Star                     0              5335

In [21]:
# Write new df to new SQLite table -
new_data_df.to_sql("gs_log_r", conn, if_exists="replace")
conn.close()

In [22]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [23]:
# Create table with results in postgres 

new_data_df.to_sql("gs_log_r", engine, if_exists="replace")