## Supervised Machine Learning - Logistic Regression Algoritm (Galaxies vs. QSO)

### Dependencies:

In [1]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlite3

In [2]:
# Create db connection to sqlite3 and cursor to execute queries

conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [3]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM quasars_galaxies", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78401,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
78402,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
78403,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
78404,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
78405,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [4]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [5]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [6]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [7]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [8]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
1.075035e+19,22.68570,22.59642,21.96712,21.37078,20.72153,GALAXY,0.750776,3,3,2,2,3
5.385329e+18,24.66545,22.59832,20.86156,19.79413,19.37813,GALAXY,0.545359,3,3,2,2,3
5.368472e+18,22.51162,21.92366,20.34202,19.15507,18.63186,GALAXY,0.573250,3,3,2,2,3
1.646098e+18,19.52989,18.19667,17.56431,17.19669,16.96778,GALAXY,0.057838,3,3,2,2,3
8.340671e+18,20.91044,20.78981,20.52306,20.41127,20.38607,GALAXY,0.000000,3,3,2,2,3
8.200120e+18,22.06467,22.30807,21.29869,20.63661,19.88078,GALAXY,0.724827,3,3,2,2,3
4.249295e+18,22.65955,22.33162,20.43830,19.50459,19.02207,GALAXY,0.569548,3,3,2,2,3
5.655623e+18,21.80770,20.96601,19.95351,19.23903,18.96788,GALAXY,0.460931,3,3,2,2,3
7.994929e+17,22.10832,19.90896,18.25058,17.66165,17.19641,GALAXY,0.263140,3,3,2,2,3
8.356641e+18,20.40789,20.69026,20.23311,20.30253,19.84274,QSO,1.238837,3,3,2,2,3
5.074446e+18,25.65842,22.92258,21.14354,19.76632,19.27308,GALAXY,0.654801,3,3,2,2,3
1.032454e+19,26.49942,23.21280,21.76173,20.69086,19.93699,GALAXY,0.653732,3,3,2,2,3
4.456549e+18,21.66625,21.06962,20.79242,20.57320,20.40083,QSO,2.258298,3,3,2,2,3
4.449624e+18,23.12722,21.63107,19.75838,18.62985,18.16257,GALAXY,0.543191,3,3,2,2,3
6.424579e+18,23.45582,22.97153,21.02689,20.05891,19.59794,GALAXY,0.567953,3,3,2,2,3
1.093252e+18,24.60502,20.98806,19.28925,18.64064,18.11776,GALAXY,0.422030,3,3,2,2,3
9.549185e+17,20.55300,18.73345,17.84777,17.27333,16.91394,GALAXY,0.090658,3,3,2,2,3
4.474528e+18,22.59957,23.00480,21.60244,20.10822,19.40278,GALAXY,0.792170,3,3,2,2,3
9.483659e+18,26.48948,23.16574,21.03412,19.95936,19.23214,GALAXY,0.752091,3,3,2,2,3
1.153504e+19,22.45676,21.76415,21.67450,21.07843,20.89833,GALAXY,0.390073,3,3,2,2,3
4.324500e+17,18.52946,17.30148,16.87189,16.56333,16.42322,GALAXY,0.079325,3,3,2,1,3
1.175108e+19,22.50994,22.11112,21.60936,21.26753,20.64581,GALAXY,1.099248,3,3,2,2,3
4.526266e+17,20.87501,18.81922,17.56935,17.07351,16.74379,GALAXY,0.174878,3,3,2,2,3
9.613068e+18,19.78469,19.67765,19.67426,19.49891,19.52442,QSO,1.903601,3,3,2,2,3
7.647197e+18,22.85271,22.82874,21.04735,19.69036,19.26397,GALAXY,0.667453,3,3,2,2,3
2.287924e+18,18.56424,17.34984,16.95310,16.71486,16.62117,GALAXY,0.034293,3,3,2,1,3
5.369663e+18,21.78099,21.51379,20.69792,19.83529,19.72690,GALAXY,0.625055,3,3,2,2,3
5.690413e+18,23.98641,21.02303,19.28943,18.54618,18.08241,GALAXY,0.387960,3,3,2,2,3
1.759855e+18,22.20167,20.55097,19.21991,18.64599,18.17089,GALAXY,0.230261,3,3,2,2,3
4.567849e+18,26.30852,23.00852,21.36401,20.12758,19.59526,GALAXY,0.627192,3,3,2,2,3

### Test and Train Data

In [9]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)

(78406, 11)
(78406,)

In [10]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'GALAXY': 44591, 'QSO': 14213})

### Random Oversampling

In [11]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'GALAXY': 44591, 'QSO': 44591})

### Logistic Regression (Galaxies vs. QSO) - Oversampling

In [12]:
# Train the Logestic Regression Model using the resampled data
model = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [13]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9424269715826575

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.96      0.92      0.97      0.94      0.89     14854
        QSO       0.88      0.92      0.96      0.90      0.94      0.88      4748

avg / total       0.95      0.95      0.93      0.95      0.94      0.89     19602

In [15]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO"], columns=["Predicted - Galaxy", "Predicted - QSO"])
cmros

                 Predicted - Galaxy  Predicted - QSO
Actual - Galaxy               14273              581
Actual - QSO                    361             4387

### Random Undersampling

In [16]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 14213, 'QSO': 14213})

### Logistic Regression (Galaxies vs. QSO) - Undersampling

In [17]:
model2 = LogisticRegression(solver='lbfgs', penalty='none', random_state=1, max_iter=10000)
model2.fit(X_resampled1, y_resampled1)

LogisticRegression(max_iter=10000, penalty='none', random_state=1)

In [18]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9421663330440437

In [19]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.96      0.92      0.97      0.94      0.89     14854
        QSO       0.88      0.92      0.96      0.90      0.94      0.88      4748

avg / total       0.95      0.95      0.93      0.95      0.94      0.89     19602

In [20]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO"], columns=["Predicted - Galaxy", "Predicted - QSO"])
cmrus

                 Predicted - Galaxy  Predicted - QSO
Actual - Galaxy               14259              595
Actual - QSO                    359             4389

In [21]:
# Write new df to new SQLite table -
new_data_df.to_sql("gq_log_r", conn, if_exists="replace")
conn.close()

In [22]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [23]:
# Create table with results in postgres 

new_data_df.to_sql("gq_log_r", engine, if_exists="replace")