## Supervised Machine Learning - Logistic Regression Algoritm (Galaxies vs. Stars vs. QSO)

### Dependencies:

In [8]:
import numpy as np
import pandas as pd

from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [9]:
import sqlite3

# Create db connection to sqlite3 and cursor to execute queries
conn = sqlite3.connect("stellar_class_db")
c = conn.cursor()

In [10]:
# Load the data from sqlite
data_df = pd.read_sql_query("SELECT * FROM stellar", conn)
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,mjd,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [11]:
data_df.set_index(['spec_obj_ID'], inplace = True)

In [12]:
data_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,class,redshift,plate,mjd,fiber_ID
spec_obj_ID,,,,,,,,,,,,,,,,,
6.543777e+18,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,GALAXY,0.634794,5812,56354,171
1.176014e+19,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,GALAXY,0.779136,10445,58158,427
5.152200e+18,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,GALAXY,0.644195,4576,55592,299
1.030107e+19,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,GALAXY,0.932346,9149,58039,775
6.891865e+18,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.055431e+19,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,GALAXY,0.000000,9374,57749,438
8.586351e+18,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,GALAXY,0.404895,7626,56934,866
3.112008e+18,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,GALAXY,0.143366,2764,54535,74
7.601080e+18,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,GALAXY,0.455040,6751,56368,470
8.343152e+18,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,GALAXY,0.542944,7410,57104,851

In [13]:
 new_data_df=data_df.drop(['alpha','delta','run_ID','rerun_ID', 'cam_col', 'field_ID', "obj_ID",'plate', 'mjd', 'fiber_ID'], axis = 1 )

In [14]:
new_data_df

,u,g,r,i,z,class,redshift
spec_obj_ID,,,,,,,
6.543777e+18,23.87882,22.27530,20.39501,19.16573,18.79371,GALAXY,0.634794
1.176014e+19,24.77759,22.83188,22.58444,21.16812,21.61427,GALAXY,0.779136
5.152200e+18,25.26307,22.66389,20.60976,19.34857,18.94827,GALAXY,0.644195
1.030107e+19,22.13682,23.77656,21.61162,20.50454,19.25010,GALAXY,0.932346
6.891865e+18,19.43718,17.58028,16.49747,15.97711,15.54461,GALAXY,0.116123
...,...,...,...,...,...,...,...
1.055431e+19,22.16759,22.97586,21.90404,21.30548,20.73569,GALAXY,0.000000
8.586351e+18,22.69118,22.38628,20.45003,19.75759,19.41526,GALAXY,0.404895
3.112008e+18,21.16916,19.26997,18.20428,17.69034,17.35221,GALAXY,0.143366
7.601080e+18,25.35039,21.63757,19.91386,19.07254,18.62482,GALAXY,0.455040
8.343152e+18,22.62171,21.79745,20.60115,20.00959,19.28075,GALAXY,0.542944

### Variable engineering

In [15]:
frequency = [1, 2, 3]

u_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_u"] = pd.cut(new_data_df["u"], u_size_bins, labels = frequency)

g_size_bins = [-10000, -6600,-3310, 33]
new_data_df["binned_g"] = pd.cut(new_data_df["g"], g_size_bins, labels = frequency)

r_size_bins = [9,16,23, 30]
new_data_df["binned_r"] = pd.cut(new_data_df["r"], r_size_bins, labels = frequency)

i_size_bins = [9,17,25, 33]
new_data_df["binned_i"] = pd.cut(new_data_df["i"], i_size_bins, labels = frequency)

z_size_bins = [-10000, -6600,-3310, 30]
new_data_df["binned_z"] = pd.cut(new_data_df["z"], z_size_bins, labels = frequency)

new_data_df.sample(30)

,u,g,r,i,z,class,redshift,binned_u,binned_g,binned_r,binned_i,binned_z
spec_obj_ID,,,,,,,,,,,,
6.520077e+17,21.54653,19.37627,17.84615,17.29980,16.97621,GALAXY,0.263689,3,3,2,2,3
4.347199e+18,20.01187,19.52778,19.36529,19.35413,19.34809,STAR,0.000143,3,3,2,2,3
8.326121e+18,24.53477,25.51350,24.51516,23.84127,19.59454,QSO,3.993970,3,3,3,2,3
9.243873e+18,23.92225,23.73471,21.82288,20.69717,19.91313,GALAXY,0.762283,3,3,2,2,3
3.627703e+18,20.46262,18.10149,17.08979,16.70486,16.45713,STAR,0.000192,3,3,2,1,3
7.097899e+18,19.59431,18.62187,18.23146,18.08809,18.02285,STAR,-0.000436,3,3,2,2,3
1.209226e+19,24.45604,21.69060,21.56566,21.61562,21.55145,QSO,2.943160,3,3,2,2,3
7.854348e+18,21.27456,20.95901,20.86912,20.76178,20.36590,QSO,0.728347,3,3,2,2,3
1.174440e+19,24.17392,22.51115,22.23008,21.19431,20.71364,GALAXY,0.751580,3,3,2,2,3
8.214597e+18,21.38971,21.41504,21.51686,21.16047,21.20849,QSO,1.974463,3,3,2,2,3
5.970813e+18,20.78805,18.59499,17.32803,16.84555,16.48685,GALAXY,0.178634,3,3,2,1,3
7.568344e+18,24.20270,20.21877,18.64382,18.08098,17.69418,GALAXY,0.305338,3,3,2,2,3
1.200786e+19,26.71173,23.75773,21.61342,20.44905,19.79821,QSO,0.860173,3,3,2,2,3
2.025548e+18,18.24372,17.12742,16.86679,16.73121,16.77781,GALAXY,0.022962,3,3,2,1,3
4.755849e+18,25.32050,22.01850,20.38338,19.49659,18.95802,GALAXY,0.517910,3,3,2,2,3
8.531203e+18,23.30754,24.17867,21.26785,20.21404,19.53742,GALAXY,0.624009,3,3,2,2,3
6.582246e+18,23.01279,21.26130,20.07643,19.22608,18.61931,STAR,0.000258,3,3,2,2,3
7.397776e+17,20.28025,18.22808,17.15685,16.73696,16.37079,GALAXY,0.163011,3,3,2,1,3
7.647216e+18,21.26464,20.56284,20.47631,20.41525,20.17917,QSO,2.241582,3,3,2,2,3
4.257488e+17,20.96813,18.88894,17.67862,17.17216,16.77709,GALAXY,0.146644,3,3,2,2,3
7.321741e+18,25.57966,21.56669,20.87147,20.64529,20.73447,STAR,-0.000954,3,3,2,2,3
9.571447e+18,24.24743,23.22116,21.77859,20.09579,19.31741,STAR,-0.000183,3,3,2,2,3
6.734273e+17,17.84990,16.56900,16.03850,15.75119,15.53020,GALAXY,0.041476,3,3,2,1,3
9.563502e+18,24.71847,24.46025,22.59016,21.03653,19.77570,GALAXY,0.848538,3,3,2,2,3
1.245258e+19,21.84550,21.57141,21.03325,20.73962,20.29757,GALAXY,1.852674,3,3,2,2,3
5.518515e+17,19.14297,17.05530,15.95445,15.48227,15.14271,GALAXY,0.135769,3,3,1,1,3
1.152940e+19,24.95119,23.63185,21.54479,20.40633,19.71862,GALAXY,0.657850,3,3,2,2,3
8.670755e+18,21.62493,21.36085,20.82950,20.88724,20.57878,QSO,1.116431,3,3,2,2,3
6.005562e+18,23.58722,22.45755,20.40907,19.49224,18.96918,GALAXY,0.421191,3,3,2,2,3
1.076725e+19,22.50413,22.39102,22.25051,21.40763,22.03414,GALAXY,0.768274,3,3,2,2,3

In [16]:
new_data_df.iloc[new_data_df.values==np.inf]
new_data_df =new_data_df[~new_data_df.isin([np.nan, np.inf, -np.inf]).any(1)]

### Test and Train Data

In [17]:
# Create our features
X = new_data_df.drop('class', axis=1)

# Create our target
y = new_data_df['class']

print(X.shape)
print(y.shape)
Counter(y)

(100000, 11)
(100000,)

Counter({'GALAXY': 59445, 'QSO': 18961, 'STAR': 21594})

In [18]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'STAR': 16227, 'GALAXY': 44608, 'QSO': 14165})

### Random Oversampling

In [19]:
# Resample the training data with the RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'STAR': 44608, 'GALAXY': 44608, 'QSO': 44608})

### Logestic Regression (Galaxies, QSO and Stars) - Oversampling

In [20]:
# Train the Logestic Regression Model using the resampled data
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', penalty='none', random_state=1, max_iter=100000)
model.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=100000, multi_class='multinomial', penalty='none',
                   random_state=1)

In [21]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9603254168553125

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.95      0.97      0.96      0.96      0.92     14837
        QSO       0.88      0.93      0.97      0.90      0.95      0.90      4796
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5367

avg / total       0.96      0.96      0.97      0.96      0.97      0.93     25000

In [23]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred)
cmros = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - QSO", "Predicted - Star"])
cmros

                 Predicted - Galaxy  Predicted - QSO  Predicted - Star
Actual - Galaxy               14082              630               125
Actual - QSO                    325             4471                 0
Actual - Star                     2                0              5365

### Random Undersampling

In [24]:
# Resample the training data with the RandomUnderSampler
rus = RandomUnderSampler(random_state=1)
X_resampled1, y_resampled1 = rus.fit_resample(X_train, y_train)
Counter(y_resampled1)

Counter({'GALAXY': 14165, 'QSO': 14165, 'STAR': 14165})

### Logistic Regression (Galaxies, QSO and Stars) - Undersampling

In [25]:
model2 = LogisticRegression(multi_class='multinomial', solver='lbfgs', penalty='none', random_state=1, max_iter=100000)
model2.fit(X_resampled1, y_resampled1)

LogisticRegression(max_iter=100000, multi_class='multinomial', penalty='none',
                   random_state=1)

In [26]:
# Calculated the balanced accuracy score
y_pred1 = model2.predict(X_test)
balanced_accuracy_score(y_test, y_pred1)

0.9606462557277081

In [27]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred1))

                   pre       rec       spe        f1       geo       iba       sup

     GALAXY       0.98      0.95      0.97      0.96      0.96      0.92     14837
        QSO       0.88      0.93      0.97      0.90      0.95      0.90      4796
       STAR       0.98      1.00      0.99      0.99      1.00      0.99      5367

avg / total       0.96      0.96      0.97      0.96      0.97      0.93     25000

In [28]:
# Display the confusion matrix
c= confusion_matrix(y_test,y_pred1)
cmrus = pd.DataFrame(c, index=["Actual - Galaxy", "Actual - QSO", "Actual - Star"], columns=["Predicted - Galaxy", "Predicted - QSO", "Predicted - Star"])
cmrus

                 Predicted - Galaxy  Predicted - QSO  Predicted - Star
Actual - Galaxy               14087              626               124
Actual - QSO                    322             4474                 0
Actual - Star                     2                0              5365

In [29]:
# Write new_data_df log. reg full data mlm results to new SQL table full_log_r

new_data_df.to_sql("full_log_r", conn, if_exists="replace")

conn.close()

In [30]:
import pandas as pd
from config import password
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [31]:
# Create table with results in postgres 

new_data_df.to_sql("full_log_r", engine, if_exists="replace")